.carditem-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  z-index: -1;
}

.carditem-container .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carditem-container .card-container .cardDiv {
  margin: 6px;
  flex-direction: column;
  display: flex;
}

.carditem-container .card-container .img {
  height: 250px;
}
